<!Doctype html>
<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="/vendor/assets/stylesheets/style.css" type="text/css" rel="stylesheet">
<style>
   @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html {
  height: 100%;
  width: 100%;
}
body{
    font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 200;
}
background-image
{
        
}
.aa{
     background-image: url(http://cfile1.uf.tistory.com/image/203C9E44500F533913D095);
    height: 1000px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.slogan{
    text-align : center;
    padding-top: 350px;
    padding-bottom: 150px;
}
.fashion, .fashion_1{
    text-align : center;
    padding-top: 150px;
    padding-bottom: 150px;
}
.wrapper{
        text-align : center;
           padding-top: 10px;
           padding-left: 40%;
    padding-bottom: 150px;
}
.btn btn-primary{
    text-align : center;
}
</style>
</head>
    <div class="container aa">
        <div class="slogan">
            <img height="100%" src="http://cfile22.uf.tistory.com/image/2374A03353B8B7A607A028" alt="02 slogan">
            </div>
        </div>
           <div class="wrapper">
        <div class="col-sm-4 offset-sm-4">
              <div class="form-group">
                <label for="Input" ><h2>친구들이 보는 나는 어떨까..?<br>친구들이 보는 있는 그대로의 나의 모습은..?</h2></label>
                <form action="/game/who" method="get">
                <input type="text" class="control" id="Input" placeholder="이름을 적어주세요" name="name">
                <button type="submit" class="btn btn-primary offset-sm-4">알아보기</button>
              </div>
              
           </form>
        </div>
    </div>

    </div>
</body>
</html>