<!Doctype html>
<head>
    <style>
    .card{
        text-align : center;
    }
    .btj{
          color:black;
    }
    .img-f{
        
    }
    </style>
</head>
<div class="container">
      <div class="col-sm-6 col-md-4">
    <div class="card">
          <img class="img-f" src="<%= @who_image %>" alt="Card image cap">
          <div class="card-block">
            <h1 class="btj" style="font-weight:bold">친구들이 당신을 보는 이미지입니다.</h1>
            <h3 class="text"><%= @who %></h3>
            </div>
          </div>
    </div>
</div>
</html>